*, *:after, *:before
	box-sizing: border-box
body
	font-family: 'Arial Regular',sans-serif
.container
	max-width: 960px
	margin: auto
li
	list-style: none
a
	text-decoration: none
img
	max-width: 100%