.title
	color: $text-color
	font-size: 15px
	margin: 0
	margin-bottom: 30px
.link
	color: $text-color
	font-size: 14px
	margin-left: 12px
.item
	display: flex
	align-items: center
	margin-bottom: 15px
.footer
	background-color: $contacts-color
	padding-top: 40px
	padding-bottom: 37px
	&-top
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: stretch
		padding-bottom: 38px
.pick
	&-list
		padding: 0
.social
	&-list
		padding: 0
		font-size: 14px
	&-item
		display: flex
		align-items: center
		margin-bottom: 8px
	&-img
		display: flex
		justify-content: center
		align-items: center
		width: 25px
		height: 25px
		background-color: #c2c2c2
		border-radius: 50%
.company
	&-list
		padding: 0
		font-size: 14px
.footer
	&-down
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&-description
		font-size: 14px
		color: $text-color
	&-row
		max-width: 550px
		display: flex
		flex-wrap: wrap
		&__link
			display: inline-block
			position: relative
			color: $title-header
			font-size: 14px
			padding-right: 6px
			padding-left: 6px
			margin-bottom: 6px
			&:before
				display: block
				content: ''
				position: absolute
				right: 0
				bottom: 0
				width: 2px
				height: 90%
				background-color: $title-header
