.slider
	padding-bottom: 39px
	&-img
		width: 100%
		display: block
.main
	&-slider
		background-color: $slider-color
		&__info
			height: 121px
		&__text
			color: $slider-text
			margin: 0
			font-size: 32px
			padding-top: 28px
			padding-left: 27px
			font-weight: 700
			+reg
