.slider
	padding-bottom: 39px
	&-img
		width: 100%
.main
	&-slider
		background-color: $slider-color
		&__info
			height: 121px
		&__text
			color: $slider-text
			margin: 0
			font-size: 35px
			padding-top: 28px
			font-weight: 700
			+reg-b
