@font-face {
  font-family: 'Arial Regular';
  src: url("../fonts/Arial/ArialMT.eot");
  src: url("../fonts/Arial/ArialMT.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialMT.woff") format("woff"), url("../fonts/Arial/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialNarrowRegular';
  src: url("../fonts/ArialNarrow/ArialNarrowRegular.eot");
  src: url("../fonts/ArialNarrow/ArialNarrowRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow/ArialNarrowRegular.woff") format("woff"), url("../fonts/ArialNarrow/ArialNarrowRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Arial Regular',sans-serif;
}

.container {
  max-width: 910px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  outline: none;
}

.container {
  width: 90%;
}

.header {
  padding-top: 5px;
}

.header-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__img {
  position: relative;
  display: block;
  z-index: 1;
  margin-right: 21px;
}

.header-btn {
  display: none;
  width: 30px;
  height: 18px;
}

.header-title {
  position: absolute;
  top: 15px;
  color: #838a92;
  font-size: 14px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}

.header-list {
  position: relative;
  font-weight: 700;
  margin-right: 11px;
  font-family: 'ArialNarrowRegular';
  font-weight: 700px;
}

.header-link {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 0px;
  color: #303c49;
}

.header-link:hover {
  color: #e40045;
}

.header-link__first {
  color: #e40045;
}

.header-submenu {
  display: none;
  position: absolute;
  border: 1px solid #e1e3e5;
  border-radius: 2px;
  background-color: #fff;
  padding: 16px 17px 0px 16px;
  min-width: 118px;
  z-index: 1;
  top: 45px;
  left: -52px;
}

.header-submenu::before {
  content: '';
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  right: 40%;
  top: -11px;
  left: 40%;
  border-top: 1px solid #e1e3e5;
  border-right: 0px solid #e1e3e5;
  border-left: 1px solid #e1e3e5;
  border-bottom: 0 px solid #e1e3e5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.header-submenu__link {
  display: block;
  margin-bottom: 10px;
  color: #303c49;
}

.header-submenu__link:hover {
  color: #e40045;
}

@media screen and (max-width: 1024px) {
  .header-list {
    margin-right: 11px;
  }
  .header-link {
    font-size: 13px;
  }
}

@media screen and (max-width: 962px) {
  .header-title {
    display: none;
  }
  .header-list {
    margin-right: 11px;
  }
  .header-link {
    font-size: 13px;
  }
  .header-menu {
    display: none;
  }
  .header-btn {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 5px 0 5px 0;
  }
  .header-logo__img {
    width: 93px;
    height: 52px;
    margin-right: 18px;
  }
}

.slider {
  position: relative;
  top: -15px;
  padding-bottom: 10px;
}

.slider-img {
  width: 100%;
}

.main-slider {
  background-color: #303c49;
}

.main-slider__info {
  height: 121px;
}

.main-slider__text {
  color: #acb1b6;
  margin: 0;
  line-height: 27px;
  font-size: 35px;
  padding-top: 28px;
  font-weight: 700;
  font-family: "Arial Regular";
  font-weight: 800;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 150px;
  right: 50%;
  margin: 0;
  list-style-type: none;
}

ul {
  padding: 0;
}

li {
  margin-right: 10px;
}

li:last-child {
  margin-right: 0;
}

button {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  text-indent: -9999px;
  cursor: pointer;
}

li.slick-active button {
  background-color: #e40045;
}

.slick-slide:active {
  outline: none;
}

@media screen and (max-width: 962px) {
  .slider {
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .main-slider__info {
    height: 100px;
  }
  .main-slider__text {
    padding-top: 15px;
    font-size: 30px;
  }
  .dots {
    bottom: 110px;
    right: 45%;
  }
}

@media screen and (max-width: 425px) {
  .main-slider__text {
    font-size: 22px;
  }
  .slider-img {
    height: 130px;
  }
  .dots {
    bottom: 105px;
  }
  button {
    width: 7px;
    height: 7px;
  }
  li {
    margin-right: 7px;
  }
}

.offer {
  padding-bottom: 60px;
}

.offer-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 4px solid #e40045;
  padding-bottom: 40px;
  margin-right: -9px;
  margin-left: -9px;
}

.offer-overlay {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  padding: 9px;
}

.offer-img {
  width: 100%;
}

.offer-slide {
  min-height: 670px;
  position: relative;
  border: 1px solid #d6d8db;
}

.offer-content {
  padding: 0 15px 75px 14px;
  line-height: 25px;
  color: #303c49;
  font-size: 15px;
}

.offer-content__title {
  font-size: 22px;
  margin-bottom: 0;
}

.offer-content__item {
  background-image: url("../img/content/bullet.png");
  background-repeat: no-repeat;
  background-position: 0 7px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.offer-link {
  position: absolute;
  display: block;
  bottom: 20px;
  left: 14px;
  padding: 12px 20px;
  background-color: #303c49;
  border-radius: 5px;
  color: #ffffff;
}

.offer-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 45%;
  bottom: -10px;
}

.offer-dots:last-child {
  margin-right: 0;
}

.contacts {
  background-color: #f0f1f2;
}

.contacts-block {
  padding: 25px 30px 30px 17px;
}

.contacts-block__title {
  text-transform: uppercase;
  color: #303c49;
  font-size: 40px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-block__subtitle {
  color: #303c49;
  font-size: 15px;
  font-family: "Arial Regular";
  font-weight: 800;
}

.contacts-block__list {
  color: #303c49;
  font-size: 15px;
  padding: 0;
  max-width: 245px;
}

.contacts-block__item {
  line-height: 20px;
}

.contacts-block__time {
  color: #838a92;
}

.contacts-block__link {
  color: #303c49;
}

.contacts-block__way {
  position: relative;
  color: #303c49;
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "Arial Regular";
  font-weight: 800;
}

.contacts-block__way:last-child {
  margin-bottom: 0;
}

.contacts-block__way:after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #303c49;
}

@media screen and (max-width: 768px) {
  .offer {
    padding-bottom: 20px;
  }
  .offer-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: none;
  }
  .contacts-block {
    padding: 25px 27px 2 0px 17px;
  }
  .contacts-block__title {
    font-size: 32px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .offer-link {
    padding: 10px 18px;
  }
}

.section {
  padding-bottom: 58px;
}

.section-title {
  text-transform: uppercase;
  font-size: 40px;
  color: #303c49;
  margin-bottom: 31px;
  font-family: "Arial Regular";
  font-weight: 800;
}

.card {
  border: 1px solid #d6d8db;
  border-top: none;
  height: 100%;
}

.cards {
  margin-right: -9px;
  margin-left: -9px;
}

.card-wrap {
  padding: 9px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-img {
  display: block;
  width: 100%;
}

.card-text {
  padding: 15px 10px 20px 14px;
  line-height: 25px;
  color: #303c49;
}

.card-text__title {
  display: inline-block;
  padding-bottom: 3px;
  font-size: 18px;
  font-family: "Arial Regular";
  font-weight: 800;
}

.card-text__link {
  display: block;
  font-size: 15px;
  color: #303c49;
  padding-left: 13px;
  background-image: url("../img/section/Arrow.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.last-card {
  position: relative;
  background-color: #303c49;
}

.last-text {
  position: absolute;
  top: 0;
  left: 0;
}

.last-title {
  color: #ffffff;
}

.last-link {
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .card-wrap {
    -ms-flex-preferred-size: 33.3333333%;
        flex-basis: 33.3333333%;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding-bottom: 20px;
  }
  .section-title {
    padding-bottom: 15px;
    border-bottom: 4px solid #e40045;
  }
  .card-text {
    padding: 15px 7px 15px 10px;
  }
  .card-text__title {
    font-size: 15px;
  }
  .card-text__link {
    font-size: 13px;
  }
}

@media screen and (max-width: 622px) {
  .card-wrap {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .card-text__title {
    font-size: 18px;
  }
  .card-text__link {
    font-size: 15px;
  }
}

@media screen and (max-width: 474px) {
  .card-text__title {
    font-size: 15px;
  }
  .card-text__link {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  .section-title {
    font-size: 32px;
    font-family: "Arial Regular";
    font-weight: 800;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-wrap {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
    padding: 0 0 18px 0;
  }
  .card-text__title {
    font-size: 16px;
  }
  .card-text__link {
    font-size: 14px;
  }
  .card-img {
    height: 150px;
  }
}

.title {
  color: #303c49;
  font-size: 15px;
  margin: 0;
  margin-bottom: 30px;
}

.link {
  color: #303c49;
  font-size: 14px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.footer {
  background-color: #f0f1f2;
  padding-top: 40px;
  padding-bottom: 37px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 38px;
}

.pick-list {
  padding: 0;
}

.pick-link {
  background-image: url("../img/section/Arrow.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.social-list {
  padding: 0;
  font-size: 14px;
}

.social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.social-link {
  padding-left: 12px;
}

.social-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  background-color: #c2c2c2;
  border-radius: 50%;
}

.company-list {
  padding: 0;
  font-size: 14px;
}

.company-link {
  background-image: url("../img/section/Arrow.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.footer-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-description {
  font-size: 14px;
  color: #303c49;
  margin-bottom: 15px;
}

.footer-row {
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-row__link {
  display: inline-block;
  color: #838a92;
  font-size: 14px;
  padding-right: 6px;
  margin: 0 6px 20px 0;
  border-right: 2px solid #838a92;
}

.footer-row__link:first-child {
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 25px;
  }
  .footer {
    padding-bottom: 25px;
  }
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15px;
  }
  .pick {
    margin-bottom: 10px;
  }
  .company {
    margin-bottom: 10px;
  }
  .social {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer-description {
    display: inline-block;
    font-size: 11px;
    margin-bottom: 25px;
    font-family: "Arial Regular";
    font-weight: 800;
  }
  .footer-row__link {
    font-size: 12px;
    margin-bottom: 7px;
    font-family: "Arial Regular";
    font-weight: 800;
  }
}

@media screen and (max-width: 320px) {
  .social-title {
    display: none;
  }
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .social-link {
    display: none;
  }
  .social-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 31px;
    height: 31px;
  }
}
/*# sourceMappingURL=style.css.map */