@font-face {
  font-family: 'Arial Regular';
  src: url("../fonts/Arial/ArialMT.eot");
  src: url("../fonts/Arial/ArialMT.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial/ArialMT.woff") format("woff"), url("../fonts/Arial/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialNarrowRegular';
  src: url("../fonts/ArialNarrow/ArialNarrowRegular.eot");
  src: url("../fonts/ArialNarrow/ArialNarrowRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow/ArialNarrowRegular.woff") format("woff"), url("../fonts/ArialNarrow/ArialNarrowRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Arial Regular',sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  outline: none;
}

.header {
  padding-top: 5px;
}

.header-img {
  z-index: 999;
}

.header-title {
  position: absolute;
  top: 15px;
  color: #838a92;
  font-size: 14px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}

.header-list {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  font-family: 'ArialNarrowRegular';
  font-weight: 700px;
}

.header-link {
  display: block;
  text-transform: uppercase;
  padding: 15px 0px;
  color: #303c49;
}

.header-link:hover {
  color: #e40045;
}

.header-link__first {
  color: #e40045;
}

.header-submenu {
  display: none;
  position: absolute;
  border: 1px solid #e1e3e5;
  border-radius: 2px;
  background-color: #fff;
  padding: 16px 17px 0px 16px;
  min-width: 118px;
  z-index: 1;
  top: 50px;
  left: -50px;
}

.header-submenu::before {
  content: '';
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  right: 40%;
  top: -11px;
  left: 40%;
  border-top: 1px solid #e1e3e5;
  border-right: 0px solid #e1e3e5;
  border-left: 1px solid #e1e3e5;
  border-bottom: 0 px solid #e1e3e5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.header-submenu__link {
  display: block;
  margin-bottom: 10px;
  color: #303c49;
}

.header-submenu__link:hover {
  color: #e40045;
}

.slider {
  padding-bottom: 39px;
}

.slider-img {
  width: 100%;
  display: block;
}

.main-slider {
  background-color: #303c49;
}

.main-slider__info {
  height: 121px;
}

.main-slider__text {
  color: #acb1b6;
  margin: 0;
  font-size: 35px;
  padding-top: 28px;
  font-weight: 700;
  font-family: "Arial Regular";
  font-weight: 700;
}

.content {
  padding-bottom: 60px;
}

.content-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  margin-right: 20px;
  border: 1px solid #d6d8db;
}

.about-block {
  padding: 20px 18px 20px 15px;
  min-height: 364.6px;
}

.about-block__title {
  font-size: 22px;
  color: #303c49;
  margin: 0;
}

.about-block__description {
  max-width: 258px;
  font-size: 15px;
  color: #303c49;
  line-height: 20px;
}

.about-block__text {
  max-width: 258px;
  font-size: 15px;
  color: #303c49;
  line-height: 20px;
  margin-bottom: 66px;
}

.about-block__link {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.service {
  border: 1px solid #d6d8db;
}

.service-block {
  padding: 20px 21px 20px 17px;
}

.service-block__title {
  font-size: 22px;
  color: #303c49;
  margin: 0;
}

.service-block__list {
  padding-left: 13px;
  max-width: 253px;
}

.service-block__item {
  position: relative;
  font-size: 15px;
  color: #303c49;
  line-height: 20px;
}

.service-block__decor {
  position: absolute;
  display: block;
  content: '';
  top: 7px;
  left: -12px;
  width: 6px;
  height: 6px;
  background-color: #e40045;
}

.link {
  display: inline-block;
  padding: 13px 20px;
  background-color: #303c49;
  color: #ffff;
  border-radius: 5px;
  font-size: 15px;
}

.contacts-block {
  padding: 30px 30px 30px 16px;
  max-width: 257px;
}

.contacts-block__list {
  padding: 0;
}
/*# sourceMappingURL=style.css.map */